<?xml version="1.0"?>
<model>
  <name>Typhoon H480 PPNNPN</name>
  <version>1.0</version>
  <sdf version="1.5">typhoon_h480_ppnnpn.sdf</sdf>

  <author>
   <name>Woohyun Byun</name>
   <email>imbwh@cau.ac.kr</email>
  </author>

  <description>
    This is a model of the Typhoon H480 with PPNNPN motors arrangement.
  </description>
</model>
